# Query Five Data Preprocessing

#### Goal: Clean the reviews data files in prepartion for loading into Cassandra on Azure

In [20]:
#Imports
import numpy as np
import pandas as pd

In [21]:
#Uploading all the data
pdx_reviews = pd.read_csv('PDX_reviews.csv')
la_reviews = pd.read_csv('la_reviews.csv')
sd_reviews = pd.read_csv('sd_reviews.csv')
salem_reviews = pd.read_csv('salem_reviews.csv')

In [22]:
#Adding city column to data frames
pdx_reviews['city'] = "Portland"
la_reviews['city'] = "Los Angeles"
sd_reviews['city'] = "San Diego"
salem_reviews['city'] = "Salem"

In [23]:
#Removing columns which aren't id, date, and city
pdx_select = pdx_reviews[["id","date","city"]]
la_select = la_reviews[["id","date","city"]]
sd_select = sd_reviews[["id","date","city"]]
salem_select = salem_reviews[["id","date","city"]]

In [24]:
#Combining all reviews for all cities
df_list = [pdx_select, la_select, sd_select, salem_select]
all_reviews = pd.concat(df_list)

In [25]:
#Testing concat
indiv_lengths = len(pdx_select) + len(la_select) + len(sd_select) + len(salem_select)
if len(all_reviews) == indiv_lengths:
    print("Concat worked correctly. New len: "+str(len(all_reviews)))
else:
    print("Concat did not merge right")

Concat worked correctly. New len: 2573162

In [26]:
#Converting date to datetime and adding month & year columns
all_reviews['date'] = pd.to_datetime(all_reviews['date'])
all_reviews['review_month'] = all_reviews['date'].dt.month
all_reviews['review_year'] = all_reviews['date'].dt.year

In [27]:
#Removing date column
final_reviews = all_reviews.loc[:, all_reviews.columns!='date']
final_reviews

                       id      city  review_month  review_year
0                   24767  Portland             1         2010
1                   29230  Portland             3         2010
2                   29806  Portland             3         2010
3                   32572  Portland             3         2010
4                   32862  Portland             4         2010
...                   ...       ...           ...          ...
14881  840008042809282936     Salem             3         2023
14882  840728285056856719     Salem             3         2023
14883  822551660654988407     Salem             2         2023
14884  818218402306004794     Salem             2         2023
14885  852973957827370635     Salem             3         2023

[2573162 rows x 4 columns]

In [28]:
final_reviews.to_csv("q5_comb_reviews.csv")